<div class="headextend">
    <div class="box">
        <h1>The techBlog</h1>
    </div>
    <div class="box2"></div>
</div>
<h1 class="title">Posts</h1>
{{#each allPosts}}
  <div class="container" data-post-id="{{id}}">
    <h3 class="phead">{{name}} by {{user.name}}</h3>
    <p>{{description}}</p>

    {{#if comments.length}}
      <h3>Comments:</h3>
      <ul>
        {{#each comments}}
          <li>{{description}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/each}}




<script src="/home.js"></script>

